body {
    background-color: #DFEEEF; /*color fondo blanco*/
    color: #fff; /*color font*/
    font-family: Arial, sans-serif;
    font-size: 14px;
}

#container {
    width: 60%; /*60% del ancho de pantalla*/
    background-color: #2AB4BE; /*color para el contenedor del choice*/
    margin: 20px auto; /*20px arriba y abajo, y con auto lo centramos horizontalmente*/
    overflow: auto; /*proveen barras de desplazamiento si hay contenido excedente*/
    padding: 25px;
}

header {
    text-align: center; /*alinea el titulo y parrafo*/
    border-bottom: #fff dashed 1px; /*borde punteado color blanco y 1px de grosor linea*/
}

header h1 {
    margin: 0;
    padding: 0;
    color: yellow;
}

header p {
    padding: 0;
    margin-top: 5px;
    color: #000000;
}

section {
    min-height: 410px; /*altura minima 410px*/
}

input[type='submit'] {
    background-color: #f06226;
    border: 0;
    color: #fff;
    padding: 10px 15px;
    cursor: pointer;
}

#resultado h3 {
    background: #C6DB48;
    padding: 10px;
    margin: 10px 0;
}

#resultado span {
    color: #000;
    font-weight: bold;
}